---
---

@import "{{ site.theme }}";

.xpage-header {
  color: #fff;
  text-align: center;
  background-color: #c2c2d6;
  background-image: linear-gradient(120deg, #7575a3, #d1d1e0);
  
  @include large {
    padding: 5rem 6rem;
  }

  @include medium {
    padding: 3rem 4rem;
  }

  @include small {
    padding: 2rem 1rem;
  }
}
