<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Hyperledger Fabric</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <section class="xpage-header">
      <a href="https://hyperledger.org/"><img src="logo_hl_new.png" alt="Hyperledger Logo"/></a>
      <h1 class="project-name">Fabric</h1>
      <h2 class="project-tagline">An open source blockchain platform for the enterprise</h2>
      {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
      {% endif %}
        <a href="http://hyperledger-fabric.readthedocs.io/en/latest/" class="btn">Documentation</a>
        <a href="https://www.hyperledger.org/community" class="btn">Community</a>
    </section>

    <section class="main-content">
<p>Hyperledger Fabric is an implementation of blockchain technology, leveraging familiar and 
  proven technologies. It offers a modular architecture allowing pluggable implementations of 
  various capabilities, such as smart contracts (chaincode), cryptography, consensus, ledger 
  datastore and more. It leverages powerful container technology for its deployment and for 
  providing the execution environment for the chaincode such that the network is protected 
  from malicious code.</p>
      <table>
        <th>What differentiates Hyperledger Fabric?</th>
        <tr>
          <td>Modular architecture</td>
          <td>Optimized for transaction performance and throughput</td>
        </tr>
        <tr>
          <td>Built for the enterprise</td>
          <td>Permissioned network design</td>
        </tr>
        <tr>
          <td>Pluggable consensus, identity, encryption, and data store</td>
          <td>Multi-channel communications</td>
        </tr>
      </table>
      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="https://hyperledger.org/">Hyperledger</a>.</span>
        {% endif %}
      </footer>
    </section>

    {% if site.google_analytics %}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
